---
layout: page
description: ""
---

{% for post in paginator.posts %}

    {% comment %} group by year {% endcomment %}
            {%- assign _currentdate = post.date | date: '%Y' -%}
            {%- if _currentdate != _date -%}
                {%- unless forloop.first -%}</section>{%- endunless -%}
                
                <span class="fa listing-seperator">
                    <h2 class="archive-title">{{ _currentdate }}</>
                </span>
                {%- assign _date = _currentdate -%}
            {%- endif -%}




      <!-- <div class="archive item"> -->
      <div class="archive">
        <article class="archive-item-custom">
            <a href="{{ post.url | prepend: site.baseurl }}"
             class="archive-item-link">
             {{ post.title }}
            </a>
            <span class="archive-item-date">{{ post.date | date: "%Y-%m-%d" }}</span>
        </article>
    </div>

{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}


<p class="data-source">IP地址位置数据由<a href="https://www.cz88.net">纯真CZ88</a>提供支持</p>
